/* The CSS for this login card was inspired by Multiullah Samim's at https://bootsnipp.com/snippets/vl4R7 */
.container {
    align-content: center;
    height: 100%;
}

.card {
    height: 300px;
    margin: auto auto;
    width: 40%;
    background-color: rgba(61, 47, 54, 0.65) !important;
}

.input-group-prepend span {
    width: 40px;
    background-color: azure;
    color: black;
    border: 0 !important;
}

/* Emphasize the focused input by removing the boxshadow and outline making it stand out */
input:focus{
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin: 5px auto;
}

.login-btn {
    background-color: azure;
    color: black;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}