body {
    background-color: #212121;
    color: red;
    margin: auto;
    max-width: 90%;
    text-align: center;
}

h1 {
    font-size: 3.5em;
    color: tan;
    padding-bottom: 0.25em;
}

h2 {
    color: tan;
    font-size: 2.5em;
    padding-bottom: 0.35em;
}

main {
    text-align: center;
}

.forms{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}

form {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    margin: 10px auto;
}

.page-links > a{
    display: block;
    width: 160px;
    margin: 15px auto 0px;
}

header {
    margin-top: 30px;
}

.home-header{
    background-color:blanchedalmond;
    border-radius: 5px;
    border: dotted 2px;
    width: 60%;
    margin: 20px auto 20px;
    padding-bottom: 15px;
}

header {
    border-radius: 5px;
    padding: 6px;
    float: right;
    background: rgba(160, 219, 108, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    color: white;
}

.nav-btn:first-child{
    width: 100px;
    height: 40px;
    margin: 0 auto 10px;
}
