html, body {
    color: tan;
    text-align: center;
    height: 100%;
}

body {
    background: url(../assets/pudding-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 3.5em;
    padding-bottom: 0.25em;
}

h2 {
    color: tan;
    font-size: 2.5em;
    padding-bottom: 0.35em;
}

main {
    text-align: center;
}

.forms {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}

.page-links > a {
    display: block;
    width: 160px;
    margin: 15px auto 0px;
}

.home-header {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: dotted 2px;
    width: 60%;
    margin: 20px auto 20px;
    padding-bottom: 15px;
}

    .home-header > a {
        width: fit-content;
        margin: 0 auto;
    }

nav {
    padding: .6rem 4.5rem !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
    margin-bottom: 30px;
}

    nav > div > button {
        margin-left: 30px !important;
    }

.nav-btn {
    width: 100px;
    padding: 8px 4px;
    margin: 0 auto 10px;
}

    .nav-btn:last-child {
        margin-bottom: 0px;
    }

/* bootstrap navbar drop-down over ride stuffs */
.navbar-nav > li > .dropdown-menu {
    background-color: #343A40;
}

.btn-link {
    color: white;
}

    .btn-link:hover {
        color: rgb(74, 74, 74)
    }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.all-container {
    width: 100% !important;
    min-height: 100%;
    position: relative;
}

.body-container {
    padding-bottom: 150px;
}

.flum-icon {
    height: 50px;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
}

.product-card > img {
    max-width: 80%;
    height: 200px;
}

.compliment-container{
    height: 75px;
    margin-bottom:20px;
}

form > div > img {
    width: 40%;
    margin-bottom: 20px;
}

.upload-card {
    margin: auto;
    padding: 20px;
    width: fit-content;
}

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-group > .form-control-plaintext {
    color: white;
}

.card-body > a {
    margin-bottom: 10px;
}

.cart-mini {
    display: block;
    color: white;
    width: 400px;
    position: absolute;
    right: 25px;
    top: 100px;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.95);
}

.cart-mini > p {
    margin-top: 15px;
}

.cart-mini > a {
    margin-bottom: 15px;
}

hr{
    background-color: white;
    height: 1px;
}

.cart-mini > table {
    color: white;
}

.hide
{
    display: none;
}

.cart-count {
    font-size: 12px;
    padding: 0 3px;
    vertical-align: top;
    margin-left: -10px;
}

.badge{
    padding: 0 5px;
}

.delete-icon{
    width: 16px;
    height: 16px;
}

.outer-x, .inner-x{
    height: 16px;
    width: 3px;
    background-color: red;
}

.outer-x{
    z-index: 2;
    margin-left: 8px;
    transform: rotate(45deg);
}

.inner-x{
    z-index: 3;
    transform: rotate(90deg);
}

.details-card > div > img{
    max-width: 85%;
    max-height: 350px;
}

.details-card {
    width: 40%;
    margin: auto;
    min-width: 300px;
}

.checkout-form{
    padding: 20px 30px;
    max-width: 600px;
    margin: auto;
}

.receipt-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.receipt-card h3 {
    font-weight: 600;
    margin-bottom: 0.5em;
}

.receipt-card p {
    text-indent: 20px;
}

.order-card {
    width: 85%;
    width: 625px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.cart-table {
    width: 70%;
    margin: 20px auto;
}

.update-card {
    width: 60%;
    min-width: 300px;
    margin: auto;
    padding: 10px 20px;
}

.add-to-cart{
    margin-bottom: 10px;
}

.admin-options > a:last-of-type{
    margin: 10px auto 0;
    display: block;
    width: fit-content;
}

.toggle-order{
    margin: 15px 0;
}

.page-link {
    padding: 13px 18px;
}

.admin-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-links > a {
    width: 200px;
}

.admin-links > a:first-child{
    margin-bottom: 20px;
}