@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Welcome to the ECommerce App!</h1>
<h2>Click below to view our products.</h2>

<div class="page-links">
    <a asp-controller="Products" class="btn btn-dark" role="button">View Our Products</a>
    <a href="/Account/Register" class="btn btn-dark" role="button">Create an Account</a>
</div>
