@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" type="text/css" />
</head>

<body>
    <h1>Welcome to the ECommerce app! Click below to view our products.</h1>


    <form asp-controller="Products">
        <button type="submit" class="btn btn-dark">View All Products</button>
    </form>

</body>
</html>