@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Welcome to the ECommerce App!</h1>
<h2>Click below to view our products.</h2>


<form asp-controller="Products">
    <button type="submit" class="btn btn-dark">View All Products</button>
</form>