@page
@model ECommerce_App.Pages.ImageUpload.ImageUploadModel
@{
}

@{
    ViewData["Title"] = "ImageUpload";
    Layout = "_Layout";
}

<h1>Image Upload Page</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="image-upload" />
    <button type="submit">Upload Image</button>
</form>