@page
@model ECommerce_App.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
@section Styles {
    <link href="~/Styles/Login.css" rel="stylesheet" type="text/css" />
}

<h1>Login</h1>

<div class="container">
    <div class="card">
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input asp-for="@Model.Input.Email" type="text" class="form-control" id="validationCustom02" placeholder="Email Address" required >
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input asp-for="@Model.Input.Password" type="password" class="form-control" id="validationCustom03" placeholder="Password" required >
            </div>
            <div class="row align-items-center remember">
                <label asp-for="@Model.Input.Persistent">
                    <input asp-for="@Model.Input.Persistent">Remember me
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-light">
            </div>
        </form>
    </div>
</div>





<div class="page-links">
    <p>Don't have an account?</p>
    <a asp-page="/Account/Register" class="btn btn-dark" role="button">Create an Account</a>
    <a asp-controller="Home" class="btn btn-dark" role="button">Return Home</a>
</div>
